<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=windows-1252" http-equiv="content-type">
  <title>Study Tool Home Page</title>

  <style type="text/css">
    table {width: 900px; height: 368px; border: 2px solid blue; cellpadding: 2px; cellspacing: 2px;}

    ul, li {decoration:none; list-style-type:none; padding: 0px; margin: 0px;}
    #smallmenu {display:block; font-weight:bold; float:left; color:blue; padding:2px; width:1000px;text-align:center; background-color: blue; text-decoration:none;}
    ul#smallmenu li {float:left;}

  </style>

  <link rel="stylesheet" type="text/css" href="skiingstyles.css">


</head>
<body>
<!--<div id="heading"> <img id="scene" alt="Snowmass Scene" src="../Images/SnowmassScene.jpg"-->
                        <!--height='200'-->
                        <!--width='1000'></header>-->
  <h1>Welcome, Developer Students</h1>
  <table>
    <tbody>
    <tr>
      <td>
        <p id="openpara"><h2>This is a Study Tool create by Grace River Yu,
          a DaVinici student of building the toolbelt of junior Ruby on Rails developer with Jason Noble.
          I want to help other developer students study while improving my programming skills.
          Please feel free to use my web, and give me free back. Thanks.</h2></p>
      </td>
    </tr>
    </tbody>
  </table>

<!--<li class="active"><a href="<%= image_tag '' %>">Grace River Yu</a></li>-->

<p>Grace River Yu</p>
<p>grace.yu4444@gmail.com</p>
<a href="http://rivergracefish.wordpress.com/">Visit Grace's Wordpress!</a><br/>
<a href="https://github.com/RiverGracefish">Visit Grace's Github!</a>

        <!--<ul id="smallmenu">-->
          <!--<li><button type="button" class="linkblock">Study Exercises</button></li>-->
          <!--<li><button type="button" class="linkblock">Users List</button> </li>-->
          <!--<li><button type="button" class="linkblock">Useful Sources</button></li>-->
          <!--<li><button type="button" class="linkblock">Copper</button></li>-->
          <!--<li><button type="button" class="linkblock">Crested Butte</button></li>-->
        <!--</ul>-->


        <!--<script type="link/javascript">-->

          <!--//variable definitions for descriptive text-->
          <!--var v_Study Exercises_link = "study_exercises_path"-->
