<h1>Pivotal Tracker</h1>

<h3>Intro to Pivotal Tracker</h3>
<h4>Tracker is a tool to allow you to keep track of what you are working on</h4>
<p>We will be using this to provide you a list of "stories" that need to be done</p>
<p>All Homework will be assigned in this way</p>
<output>Sometimes we will give you stories to import</output>
<output>Sometimes you will need to write your own stories</output>
<output>If it needs to be done, put it in your tracker project!</output>

<h3>Let's get started</h3>
<h4><%= link_to 'Visit http://www.pivotaltracker.com/sigin', 'http://www.pivotaltracker.com/sigin' %></h4>
<h4><button>LOGIN OR SIGN UP</button> with your username/password</h4>
<h4>Click <button>CREATE PROJECT</button></h4>
<P>On the pop up window, type in your project name and pick account type</P>

<h3>Tracker Overview</h3>
<h4>Icebox</h4>
<p>Stories that are not yet scheduled/prioritized</p>
<p>Useful for "don't forget XXXX" type stories</p>
<p>Make sure stories are fully "actionable" before moving them to the Backlog</p>
<p>Click the <button>+ Add Story</button> and enter some text, new stories go to the Icebox by default</p>
<h4>Backlog</h4>
<p>List of stories that are ready to be worked on</p>
<p>Stories are listed in Prioritized Order</p>
<p>You can click and drag stories from the Icebox to the Backlog</p>
<p>Estimating stories gives them a point value</p>
<p>When you are ready to start a story, look in the Backlog for the next available story</p>
<h4>Current</h4>
<p>Stories that are currently being worked on</p>
<p>When you <button>Start</button> a story, if it was in the Backlog, it is moved to Current</p>
<p>Green background means the story is accepted</p>
<p>Yellow background means it is in a state between Started and Accepted</p>
<p>White means it has not yet been started</p>
<h4>Done</h4>
<p>Stories that were accepted in past iterations</p>
<p>Iterations are 1-3 weeks of work</p>
<p>All stories in this section will be Green(Accepted)</p>
<p>If you don't see this section, go to More ==> Done</p>
<h4>We will not cover the following</h4>
<p>Epics</p>
<p>Charts</p>
<p>Releases</p>
<p>Lables & Searches (will be covered later)</p>
<p>My Work</p>
<p>Project History</p>
<p><%= link_to 'If you want to learn about these topics, visit http://www.pivotaltracker.com/help', 'http://www.pivotaltracker.com/help' %></p>

<h3>Adding a Tracker Story</h3>
<h4>Click <button>+ Add Story</button> to add a new story</h4>
<p>Story title is a short description of what the story should accomplish</p>
<p>Story Type:</p>
<output>Feature --New functionality</output>
<output>Bug --Problem with existing functionality</output>
<output>Chore --Something that needs doing that isn't a Feature or Bug</output>
<output>Release --A release of the software you are</output>

coming soon!
