<h1 class="study">I am a student of DaVinci, I want to practice</h1><br/>

<h4><%= link_to 'Typing Exercises', 'https://typing.io/' %></h4><br/>
<h4><%= link_to 'Ruby on Rails Exercises', ruby_on_rails_exercises_path %></h4>
