<h1> Updated Content </h1>

<h2> How do I get updated class content? </h2>
<ul style="list-style: none;">
  <h3> In Terminal, type the following:</h3>
  <pre>
   <h3> >>cd ~/workspace/davinici_coders_*class seccsion*_*class year*/building_the_toolbelt_*class seccsion*_*class year*</h3>
   <h3> >>git pull</h3>
  </pre>
</ul>
