<p><h2>What does <kbd> 2**3 </kbd> evaluate to?</h2></p>

<div class="list-group">
  A. <a href="http://tgimpage.com/wp-content/uploads/2012/05/itssoclose.jpg" class="list-group-item">2 to the power 3</a>
  B. <a href="adventure_number_4" class="list-group-item">8</a>
  C. <a href="http://www.quickmeme.com/img/a0/a00d6f748838f7c3755e1cfae97132dfe24ffb49b26d5731a86a0bc7c916a380.jpg" class="list-group-item">2 * 2 * 2</a>
  D. <a href="http://i.ytimg.com/vi/VVIaFqEPVak/hqdefault.jpg" class="list-group-item">2**3</a>
</div>
