<p><h2>What code in the following will evaluate to <kbd> 1.5 </kbd> ?</h2></p>

<div class="list-group">
  A. <a href="https://mathwithbaddrawings.files.wordpress.com/2015/02/20150211073701_00006.jpg" class="list-group-item">3.0 / 2.0</a>
  B. <a href="https://i.vimeocdn.com/video/361074133_640.jpg" class="list-group-item">3.0 / 2</a>
  C. <a href="https://chadwickbuchanana.files.wordpress.com/2013/06/8324652.jpg" class="list-group-item">3 / 2.0</a>
  D. <a href="adventure_paths" class="list-group-item">All of above</a>
</div>
