<p><h2>What does <kbd> 4 * 8 </kbd> evaluate to?</h2></p>

<div class="list-group">
  A. <a href="http://blogs.ancientfaith.com/glory2godforallthings/wp-content/uploads/sites/15/2013/07/Picture-of-Hell.jpg" class="list-group-item">12</a>
  B. <a href="https://s-media-cache-ak0.pinimg.com/736x/d0/dc/ef/d0dceff79109edc9ec48098c7098646f.jpg" class="list-group-item">4 * 8</a>
  C. <a href="http://memeguy.com/photos/images/this-is-how-lazy-i-am-9606.png" class="list-group-item">12</a>
  D. <a href="adventure_number_3" class="list-group-item">32</a>
</div>
