<p><h2>What does <kbd> 3 / 2 </kbd> evaluate to?</h2></p>

<div class="list-group">
  A. <a href="https://carrotquinn.files.wordpress.com/2013/03/potato27.jpg" class="list-group-item">1.5</a>
  B. <a href="adventure_number_6" class="list-group-item">1</a>
  C. <a href="http://static.lulu.com/browse/product_thumbnail.php?productId=4313995&resolution=320" class="list-group-item">3 / 2</a>
  D. <a href="http://cdn.smosh.com/sites/default/files/ftpuploads/bloguploads/drunk-babies-stein.jpg" class="list-group-item">5</a>
</div>
