<p><h2><kbd> "love" * 4 </kbd> evaluate to ?</h2></p>

<div class="list-group">
  A. <a href="http://quantachange.com/2013/wp-content/uploads/2013/04/oops.jpg" class="list-group-item">love4</a>
  B. <a href="http://images.sodahead.com/polls/002826257/4858235181_no_answer_2_xlarge.jpeg" class="list-group-item">love4444</a>
  C. <a href="adventure_paths" class="list-group-item">lovelovelovelove</a>
  D. <a href="http://fc06.deviantart.net/fs70/f/2013/250/a/7/we_re_so_close__yet_so_far_by_haddasaix-d6lexy9.jpg" class="list-group-item">love love love love</a>
</div>
