<p><h2><kbd> a = "a for Apple" </kbd>,  a is a letter/string?</h2></p>

<div class="list-group">
  A. <a href="http://utahscience.oremjr.alpine.k12.ut.us/sciber99/8th/matter/images/variables.gif" class="list-group-item">Yes, a is letters/strings in this case.</a>
  B. <a href="adventure_letter_3" class="list-group-item">No, a is a variable in this case. But "a for apple" is the letter/string.</a>
  C. <a href="http://www.bulletsnbabesdvd.com/forums/upload/Yi-Long/wrongcattext.jpg" class="list-group-item">No, it need to add single quote around to make it as letters/strings.</a>
  D. <a href="http://www.troll.me/images/pissed-off-obama/hey-guess-what-you-are-wrong.jpg" class="list-group-item">A and C</a>
</div>
