<p><h2>What does <kbd> 3 + 4 </kbd> evaluate to?</h2></p>

<div class="list-group">
  A. <a href="http://www.jesus-is-savior.com/Hells_Truth/hell_forever_and_ever.jpg" class="list-group-item">12</a>
  B. <a href="http://neurobonkers.com/wp-content/uploads/2011/03/thestupiditburnsmini.jpg" class="list-group-item">-1</a>
  C. <a href="http://static.tvtropes.org/pmwiki/pub/images/garfieldlazy_2816.jpeg" class="list-group-item">3 + 4</a>
  D. <a href="adventure_number_2" class="list-group-item">7</a>
</div>
