<p><h2>How can we tell if those are letters in Ruby?</h2></p>

<div class="list-group">
  A. <a href="adventure_letter_2" class="list-group-item">Letters and strings in Ruby are surrounded with quote.</a>
  B. <a href="https://v.cdn.vine.co/r/avatars/E51A1CF382994084191392436224_17e0f8d8036.3.1_RHXbRCzGF7gXOMMjM.DDjqYchAn86XB7NlSglDTTHZDdO6kyK7jqOeJbaLuORIrh.jpg?versionId=gPo_.gQRYInBSlIFij3FJuxOAdN34AaD" class="list-group-item">Only if they are surrounded with double quote when they are letters.</a>
  C. <a href="http://www.robertomilani.co.uk/wp-content/uploads/2010/12/somethings-missing2-300x226.jpg" class="list-group-item">When it surrounded by single quote, they are letters.</a>
  D. <a href="http://memeguy.com/photos/images/somethings-wrong-7671.png" class="list-group-item">Letters are not able to evaluated in Ruby.</a>
</div>
