<p><h2><kbd> "dragon" + "girl" </kbd> evaluate to ?</h2></p>

<div class="list-group">
  A. <a href="adventure_letter_4" class="list-group-item">dragongirl</a>
  B. <a href="http://pl.memgenerator.pl/mem-image/so-close-pl-ffffff-9" class="list-group-item">dragon girl</a>
  C. <a href="http://images.sodahead.com/polls/001895649/610621252_You_are_Wrong_520_answer_4_xlarge.jpeg" class="list-group-item">dragon + girl</a>
  D. <a href="http://images.lazygamer.net/2013/01/nope-youre-wrong-look-it-up.jpg" class="list-group-item">A or B</a>
</div>
