<p><h2>What does <kbd> 10 / 5 </kbd> evaluate to?</h2></p>

<div class="list-group">
  A. <a href="http://reachingutopia.com/wp-content/uploads/2013/02/drunk-urinal.jpg" class="list-group-item">15</a>
  B. <a href="http://foofygucker.com/Drunk-dog.jpg" class="list-group-item">50</a>
  C. <a href="adventure_number_5" class="list-group-item">2</a>
  D. <a href="http://1.bp.blogspot.com/-hAnnHMF2wm0/UcxKpPly7dI/AAAAAAAAAM0/2ofkKB7Hj_k/s604/foto+anjing+lucu+lagi++narsis+ture+all+size+small+medium+large.jpg" class="list-group-item">2**3</a>
</div>
