<p><h2>How do I get updated class content if I'm in T4 2038 class?</h2></p>

<div class="list-group">
    A. <a href="adventure_paths" class="list-group-item">cd ~/workspace/davinci_coders_t4_2038/building_the_toolbelt_t4_2038/<br/>git pull</a>
    B. <a href="http://www.pxleyes.com/images/contests/directions/fullsize/Feeling-Lost-4df607dd8f36b_hires.jpg" class="list-group-item">git pull</a>
    C. <a href="https://c2.staticflickr.com/8/7375/8719773915_54a74b3d4b_z.jpg" class="list-group-item">cd ~/workspace/davinci_coders_t4_2038/building_the_toolbelt_t4_2038/</a>
    D. <a href="updated_content" class="list-group-item">git pull T4 2038</a>
</div>
